Repository MSU-Libraries/catalog: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Build Vufind Image:
  stage: Build
  tags:
  - msul-docker
  variables:
    LATEST: registry.gitlab.msu.edu/msu-libraries/devops/catalog/vufind:latest
    CURR: registry.gitlab.msu.edu/msu-libraries/devops/catalog/vufind:$CI_COMMIT_SHORT_SHA
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

Scan Vufind Image:
  stage: Scan
  needs:
  - Build Vufind Image
  variables:
    DOCKER_IMAGE: registry.gitlab.msu.edu/msu-libraries/devops/catalog/vufind:latest
    GIT_STRATEGY: fetch
    DOCKERFILE_PATH: vufind/Dockerfile

Deploy Solr:
  tags:
  - msul-shared
  variables:
    ENCODED_PRIVATE_KEY: $DEPLOY_PRIVATE_KEY
    SERVER: $DEPLOY_HOST
  needs:
  - job: Set Stack Name
    artifacts: true
  - Build Solr Image
  - Build ZK Image
  - Bootstrap Stacks
  - Deploy Compose Files
  - Deploy Internal Traefik
  stage: Deploy
  script:
  ...

Deploy DB:
  tags:
  - msul-shared
  variables:
    ENCODED_PRIVATE_KEY: $DEPLOY_PRIVATE_KEY
    SERVER: $DEPLOY_HOST
  needs:
  - job: Set Stack Name
    artifacts: true
  - Build DB Image
  - Bootstrap Stacks
  - Deploy Compose Files
  - Deploy Internal Traefik
  stage: Deploy
  script:
  ...

Deploy Vufind:
  tags:
  - msul-shared
  variables:
    ENCODED_PRIVATE_KEY: $DEPLOY_PRIVATE_KEY
    SERVER: $DEPLOY_HOST
  needs:
  - job: Set Stack Name
    artifacts: true
  - Deploy Public Traefik
  - Deploy Internal Traefik
  - Build Vufind Image
  - Deploy DB
  - Deploy Solr
  - Deploy Compose Files
  stage: Deploy
  environment:
  ...

trying to build without cache
  templates/Build.gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

reverting build without cache
  templates/Build.gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

solr: remove changes to see if we can get container starting
  solr/Dockerfile
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

oai: switch metadata prefix to include holdings data
  vufind/local/harvest/oai.template.ini
Due: none

cicd: don't print output of import script
  .gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

Fix wrong op in traefik dashboard path match
  docker-compose.traefik-public.yml
Due: none

traefik: fix default rule domain name
  docker-compose.traefik-public.yml
Due: none

alphabetical browsing: modified jar
  solr/browse-handler.jar
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

harvest: comment out harvest cron for now while we are testing harvests
  vufind/cron.d/harvest
Due: none

harvest: ensure all vufind file changes trigger vufind deploy
  .gitlab-ci.yml
  vufind/harvest-and-import.sh
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Fix: traefik dashboard now works
  docker-compose.traefik-public.yml
Due: none

WIP: testing solr web access
  .gitlab-ci.yml
  docker-compose.solr-cloud-bootstrap.yml
  docker-compose.solr-cloud.yml
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Fixes for solr web exposure
  .gitlab-ci.yml
  docker-compose.solr-cloud.yml
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Fix: special case for catalog-beta routing rule
  .gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

fix: correct the bash syntax issue in if-statement
  .gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

traefik: upgrade to 2.8, enable debug; vufind harvest: script tweak
  .gitlab-ci.yml
  docker-compose.traefik-public.yml
  vufind/harvest-and-import.sh
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

traefik: add /debug route for API debugging
  docker-compose.traefik-public.yml
Due: none

traefik: disable debug flag (fixed high CPU - was bcrypt pw)
  docker-compose.traefik-public.yml
Due: none

docs: Added troubleshooting docs
  docs/index.md
  docs/troubleshooting.md
  mkdocs.yml
Due: none

trying explicit rule in job
  .gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

Removing stack name var from rules and adding all servers to remove job
  .gitlab-ci.yml
  templates/Build.gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

fix ci syntax issue
  .gitlab-ci.yml
  templates/Build.gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

Remove another unnecessary job from non stack deploy branches
  .gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

Add in log rotation to all compose files
  docker-compose.mariadb-bootstrap.yml
  docker-compose.mariadb-galera1.yml
  docker-compose.mariadb-galera2.yml
  docker-compose.mariadb-galera3.yml
  docker-compose.solr-cloud-bootstrap.yml
  docker-compose.solr-cloud.yml
  docker-compose.traefik-internal.yml
  docker-compose.traefik-public.yml
  docker-compose.yml
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

galera: Testing Galera cloud deployment through CI
  .gitlab-ci.yml
  db/Dockerfile
  db/cloud-entrypoint.sh
  db/cloud-startup.sh
  docker-compose.mariadb-cloud-bootstrap.yml
  docker-compose.mariadb-cloud-force.yml
  docker-compose.mariadb-cloud-single.yml
  docker-compose.mariadb-cloud.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

galera: fix docker image name for cloud deploy
  docker-compose.mariadb-cloud-bootstrap.yml
  docker-compose.mariadb-cloud-force.yml
  docker-compose.mariadb-cloud-single.yml
  docker-compose.mariadb-cloud.yml
Due: Deploy DB

galera: CI fixes for cloud deploy
  .gitlab-ci.yml
  docker-compose.mariadb-cloud-bootstrap.yml
  docker-compose.mariadb-cloud-force.yml
  docker-compose.mariadb-cloud-single.yml
  docker-compose.mariadb-cloud.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

vufind: Add holding marc refs to marc_local for import
  vufind/local/import/marc_local.properties
Due: none

galera: Try passing node list explicitly to galera startup
  db/cloud-startup.sh
Due: none

ci: comment out changes while debugging
  .gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

galera: debugging cluster node names variable
  db/Dockerfile
  db/run.sh
Due: none

galera: have bootstrap node force bootstrap var set
  db/cloud-startup.sh
Due: none

galera: manually specifying new cluster to be created while bootstrap
  db/cloud-startup.sh
Due: none

galera: switch to using docker swarm clustered galera
  .gitlab-ci.yml
  db/cloud-startup.sh
  vufind/local/config/vufind/config.template.ini
Due: Deploy Solr, Deploy DB, Deploy Vufind

galera: Update main CI file w/ new Galera deploy; Docs updated (schanzme)
  .gitlab-ci.yml
  docker-compose.internal.yml
  docker-compose.mariadb-bootstrap.yml
  docker-compose.mariadb-cloud-force.yml
  docker-compose.mariadb-cloud-single.yml
  docker-compose.mariadb-galera1.yml
  docker-compose.mariadb-galera2.yml
  docker-compose.mariadb-galera3.yml
  docker-compose.traefik-internal.yml
  docker-compose.traefik.yml
  docs/CICD.md
  docs/first-time-setup.md
  docs/tech-overview.md
  docs/troubleshooting.md
  mkdocs.yml
  templates/Build.gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

ci: add dummy service to ensure internal network deploys
  .gitlab-ci.yml
  docker-compose.internal.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

vufind: Wait for Solr nodes to come online before collection creation
  vufind/Dockerfile
  vufind/startup.sh
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

ci: better handling of batch import on devel containers
  .gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

ci: Fix docker cmd on target host; add internal network healthcheck
  .gitlab-ci.yml
  docker-compose.internal.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

ci: fix import script syntax formatting
  .gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

Path conditions:
  Build Vufind Image: any of: vufind/*, docker-compose.yml, docker-compose.solr*, solr/*, zk/*
  Scan Vufind Image: any of: vufind/*, docker-compose.yml, docker-compose.solr*, solr/*, zk/*
  Deploy Solr: any of: docker-compose.solr*, solr/*, docker-compose.yml, vufind/*, zk/*, .gitlab-ci.yml, templates/*
  Deploy DB: any of: docker-compose.mariadb*, docker-compose.yml, vufind/*, docker-compose.solr*, solr/*, zk/*, .gitlab-ci.yml, templates/*
  Deploy Vufind: any of: docker-compose.yml, vufind/*, docker-compose.solr*, solr/*, zk/*, .gitlab-ci.yml, templates/*
