Repository MSU-Libraries/catalog: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Path conditions:
  Build Vufind Image: any of: vufind/*, docker-compose.yml, docker-compose.solr*, solr/*, zk/*
  Scan Vufind Image: any of: vufind/*, docker-compose.yml, docker-compose.solr*, solr/*, zk/*
  Deploy Solr: any of: docker-compose.solr*, solr/*, docker-compose.yml, vufind/*, zk/*, .gitlab-ci.yml, templates/*
  Deploy DB: any of: docker-compose.mariadb*, docker-compose.yml, vufind/*, docker-compose.solr*, solr/*, zk/*, .gitlab-ci.yml, templates/*
  Deploy Vufind: any of: docker-compose.yml, vufind/*, docker-compose.solr*, solr/*, zk/*, .gitlab-ci.yml, templates/*

network: add $ escaping for healthcheck
  docker-compose.internal.yml
Due: none

ci: fix for running import before new image is deployed
  .gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

ci: typo
  .gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

ci: adjust harvest pre-check arith
  .gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

ci: update old traefik stack file
  .gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

ci: re-add sed blank line cleanup to internal stack with healthcheck
  .gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

disabled language selection
  vufind/local/config/vufind/config.template.ini
Due: none

stack: disable network health check
  db/cloud-startup.sh
  docker-compose.internal.yml
Due: none

Add more sleep time when bringing the rest of the nodes online
  db/cloud-startup.sh
Due: none

galera: Remove debugging
  db/Dockerfile
  db/cloud-startup.sh
  db/run.sh
Due: none

Add swarm cron stack to do a docker system prune
  .gitlab-ci.yml
  docker-compose.swarm-cron.yml
  docs/CICD.md
  docs/first-time-setup.md
  docs/tech-overview.md
Due: Deploy Solr, Deploy DB, Deploy Vufind

Re-check solr status each time we sleep
  vufind/startup.sh
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Created a script to detect changes in local from core in release upgrades
  docs/index.md
  docs/upgrading.md
  mkdocs.yml
  vufind/upgrade-helper.sh
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

adding msul header
  .gitignore
  vufind/Dockerfile
  vufind/local/config/vufind/config.template.ini
  vufind/themes/msul/css/compiled.css
  vufind/themes/msul/less/compiled.less
  vufind/themes/msul/less/custom.less
  vufind/themes/msul/templates/header.phtml
  vufind/themes/msul/theme.config.php
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

add bottom margin on header
  vufind/themes/msul/css/compiled.css
  vufind/themes/msul/less/custom.less
Due: none

First pass at adding EDS integration
  vufind/Dockerfile
  vufind/local/config/vufind/EDS.ini
  vufind/local/config/vufind/combined.ini
  vufind/local/config/vufind/config.template.ini
  vufind/local/config/vufind/searchbox.ini
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Add quotes around env vars
  docs/CICD.md
  vufind/local/config/vufind/EDS.ini
Due: none

Add vars to the build
  templates/Build.gitlab-ci.yml
  vufind/local/config/vufind/EDS.ini
Due: Deploy Solr, Deploy DB, Deploy Vufind

Correct var name in CI and give more time for container to be replaced
  .gitlab-ci.yml
  templates/Build.gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

Working EDS integration
  .gitlab-ci.yml
  vufind/Dockerfile
  vufind/local/config/vufind/Folio.ini
  vufind/local/config/vufind/config.ini
  vufind/local/harvest/oai.ini
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Adding more sleep to trigger new image tag for debugging
  .gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

Condense layers in dockerfile
  vufind/Dockerfile
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

More improvements to condense image size
  .gitlab-ci.yml
  vufind/Dockerfile
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Correct yaml error in CI
  .gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

Set vufind to come up first before removing old containers
  docker-compose.yml
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Add back in solr files required for import scripts
  docker-compose.yml
  vufind/Dockerfile
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Increase max time containers have before it will fail job
  .gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

Add back in apache restart and move java jdk removal lower down
  vufind/Dockerfile
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Add EDS searching
  .gitlab-ci.yml
  docs/CICD.md
  templates/Build.gitlab-ci.yml
  vufind/Dockerfile
  vufind/local/config/vufind/EDS.ini
  vufind/local/config/vufind/Folio.ini
  vufind/local/config/vufind/combined.ini
  vufind/local/config/vufind/config.ini
  vufind/local/config/vufind/searchbox.ini
  vufind/local/harvest/oai.ini
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

vufind: trim excess package size from image while building
  vufind/Dockerfile
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

vufind: remove extra apt cmds after vufind
  vufind/Dockerfile
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

vufind: include all the solr jars
  vufind/Dockerfile
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

ci: fix for blank vufind config files
  vufind/Dockerfile
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

vufind: fix for empty configs again (needed envsubst)
  vufind/Dockerfile
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Remove tab filter that didn't work as expected
  vufind/Dockerfile
  vufind/local/config/vufind/config.ini
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Add alphabetic browse to the search drop down
  vufind/local/config/vufind/searchbox.ini
Due: none

galera: Increase timeouts for stop/restart/update
  docker-compose.mariadb-cloud-bootstrap.yml
  docker-compose.mariadb-cloud-force.yml
  docker-compose.mariadb-cloud.yml
Due: Deploy DB

Update vufind to v8.1
  .gitlab-ci.yml
  db/entrypoint/setup-database.sql
  solr/Dockerfile
  vufind/Dockerfile
  vufind/local/config/vufind/Folio.ini
  vufind/local/config/vufind/config.ini
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

[PC-66] Use effective location for call numbers
  vufind/local/import/marc_local.properties
Due: none
