Repository MSU-Libraries/catalog: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build Vufind Image, Deploy Internal Traefik, Deploy Public Traefik, Deploy Solr, Deploy Vufind, Deploy Database

Path conditions:
  Build Vufind Image: any of: vufind/*
  Deploy Internal Traefik: any of: docker-compose.traefik-internal.yml, traefik-internal/*
  Deploy Public Traefik: any of: docker-compose.traefik-public.yml
  Deploy Solr: any of: docker-compose.solr*, solr/*
  Deploy Vufind: any of: docker-compose.yml, vufind/*
  Deploy Database: any of: docker-compose.mariadb*

solr: Put entrypoint BEFORE cmd
  solr/Dockerfile
Due: Deploy Solr

solr: Change CMD to pass original solr run as arg
  solr/Dockerfile
  solr/startup.sh
Due: Deploy Solr

solr: add debugging to dockerfile ep/cmd
  solr/Dockerfile
  solr/entrypoint.sh
  solr/startup.sh
Due: Deploy Solr

solr: Please use our cmd Docker!
  solr/Dockerfile
Due: Deploy Solr

solr: debugging dockerfile still
  solr/Dockerfile
  solr/entrypoint.sh
  solr/startup.sh
Due: Deploy Solr

solr: testing with bootstrap (and zk stat is now allowed)
  docker-compose.solr-cloud-bootstrap.yml
Due: Deploy Solr

solr: fix for jar permissions
  solr/Dockerfile
  solr/entrypoint.sh
Due: Deploy Solr

solr: Just copy the jars into WEB-INF
  .gitlab-ci.yml
  docker-compose.solr-cloud-bootstrap.yml
  solr/Dockerfile
  solr/entrypoint.sh
Due: Deploy Solr

solr: no longer custom entrypoint
  .gitlab-ci.yml
  solr/Dockerfile
Due: Deploy Solr

ci: Bootstrap with docker registry auth
  .gitlab-ci.yml
Due: none

ci: Experminenting with container scanning
  .gitlab-ci.yml
  docker-compose.solr-cloud-bootstrap.yml
  docker-compose.solr-cloud.yml
Due: Deploy Solr

ci: change env var in scanning job
  .gitlab-ci.yml
Due: none

ci: add rules to scan to match build
  .gitlab-ci.yml
Due: none

ci: change to attempt remediation suggestions in dockerfile for scans
  .gitlab-ci.yml
Due: none

ci: add in another scan job for solr container for comparison
  .gitlab-ci.yml
Due: none

ci: split ci into 2 files and add scan jobs
  .gitlab-ci-build-scan.yml
  .gitlab-ci.yml
Due: none

ci: Add back stage that container scanning really wants
  .gitlab-ci-build-scan.yml
  .gitlab-ci.yml
Due: none

ci: forgot to take out extends on vufind scan
  .gitlab-ci-build-scan.yml
Due: none

ci: Add rule to always scan
  .gitlab-ci-build-scan.yml
Due: none

ci: trying the license scan job
  .gitlab-ci-build-scan.yml
Due: none

ci: try the secret detection job
  .gitlab-ci-build-scan.yml
Due: none

Change the update_config setting; Switch vufind to use db for session data
  docker-compose.mariadb-bootstrap.yml
  docker-compose.mariadb-galera1.yml
  docker-compose.mariadb-galera2.yml
  docker-compose.mariadb-galera3.yml
  docker-compose.solr-cloud-bootstrap.yml
  docker-compose.solr-cloud.yml
  docker-compose.traefik-internal.yml
  docker-compose.traefik-public.yml
  docker-compose.yml
  vufind/local/config/vufind/config.template.ini
Due: Deploy Internal Traefik, Deploy Public Traefik, Deploy Solr, Deploy Vufind, Deploy Database

Add delay in for db and solr stack deploys
  .gitlab-ci.yml
  docker-compose.solr-cloud-bootstrap.yml
  docker-compose.solr-cloud.yml
Due: Deploy Solr

ci: remove separate jobs to update services
  .gitlab-ci.yml
Due: none

ci: add more delay in db updates
  .gitlab-ci.yml
Due: none

ci: add more sleep to bootstrapping db
  .gitlab-ci-build-scan.yml
  .gitlab-ci.yml
Due: none

ci and docs: Fix link for harvesting docs; add jobs for tag and release
  .gitlab-ci.yml
  docs/harvesting.md
Due: none

ci: Fix to provide credentials for github push
  .gitlab-ci.yml
Due: none

ci: add missing package
  .gitlab-ci.yml
Due: none

ci: exclude tag and release from scheduled pipeline
  .gitlab-ci.yml
Due: none

ci: Add in step to publish docs
  .gitlab-ci.yml
Due: none

ci: Replaced token
  .gitlab-ci.yml
Due: none

Add time to bootstrap job
  .gitlab-ci.yml
  docker-compose.yml
  docs/harvesting.md
  vufind/Dockerfile
  vufind/cron.d/harvest
  vufind/harvest-and-import.sh
Due: Build Vufind Image, Deploy Vufind

harvest wrapper script work in process
  .gitlab-ci.yml
  vufind/cron.d/harvest
  vufind/harvest-and-import.sh
  vufind/local/harvest/oai.template.ini
Due: Build Vufind Image, Deploy Vufind

harvest: Fix solr target for harvest; better logging; setup cron
  vufind/Dockerfile
  vufind/cron.d/harvest
  vufind/harvest-and-import.sh
  vufind/local/import/import.properties
Due: Build Vufind Image, Deploy Vufind

harvest: Fix script warning msg; add script to docker; marc overrides
  vufind/Dockerfile
  vufind/harvest-and-import.sh
  vufind/local/import/marc_local.properties
Due: Build Vufind Image, Deploy Vufind

harvest: cron change; copyback on harvest is optional
  vufind/Dockerfile
  vufind/cron.d/harvest
  vufind/harvest-and-import.sh
  vufind/local/config/vufind/config.template.ini
  vufind/local/import/marc_local.properties
Due: Build Vufind Image, Deploy Vufind

ci: Fix cmd order that required workdir be set to vufind beforehand
  vufind/Dockerfile
Due: Build Vufind Image, Deploy Vufind

harvest: post sprint leftovers
  docker-compose.yml
  vufind/harvest-and-import.sh
Due: Build Vufind Image, Deploy Vufind
