Repository MSU-Libraries/catalog: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Path conditions:
  Build Vufind Image: any of: vufind/*, docker-compose.yml, docker-compose.solr*, solr/*, zk/*
  Scan Vufind Image: any of: vufind/*, docker-compose.yml, docker-compose.solr*, solr/*, zk/*
  Deploy Solr: any of: docker-compose.solr*, solr/*, docker-compose.yml, vufind/*, zk/*
  Deploy DB: any of: docker-compose.mariadb*, docker-compose.yml, vufind/*, docker-compose.solr*, solr/*, zk/*
  Deploy Vufind: any of: docker-compose.yml, vufind/*, docker-compose.solr*, solr/*, zk/*

cron: Fix perms on harvest cron file
  vufind/Dockerfile
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Switch Host to new names
  docker-compose.solr-cloud-bootstrap.yml
  docker-compose.solr-cloud.yml
  docker-compose.traefik-public.yml
  docker-compose.yml
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Working dynamic defaultRoute based on stack name
  .gitlab-ci.yml
  docker-compose.traefik-public.yml
  docker-compose.yml
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

First attempt at per-branch pipelines
  .gitignore
  .gitlab-ci.yml
  docker-compose.solr-cloud-bootstrap.yml
  docker-compose.solr-cloud.yml
  docker-compose.traefik-internal.yml
  docs/CICD.md
  docs/harvesting.md
  docs/index.md
  solr/Dockerfile
  templates/Build.gitlab-ci.yml
  templates/Release.gitlab-ci.yml
  templates/Scan.gitlab-ci.yml
  vufind/Dockerfile
  vufind/harvest-and-import.sh
  vufind/local/config/vufind/config.template.ini
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Commented out include for scan stage
  .gitlab-ci.yml
Due: none

Fix syntax of yq command
  .gitlab-ci.yml
Due: none

Unquoting stack name in env file
  .gitlab-ci.yml
Due: none

Update syntax for environments; remove publish ports from traefik internal
  .gitlab-ci.yml
  docker-compose.traefik-internal.yml
Due: none

Remove subnet from internal
  .gitlab-ci.yml
  docker-compose.traefik-internal.yml
Due: none

Correct name of traefik network
  .gitlab-ci.yml
  docker-compose.traefik-internal.yml
Due: none

Adjust timing for bootstrap
  .gitlab-ci.yml
Due: none

Remove blank lines from traefik internal
  .gitlab-ci.yml
  docker-compose.traefik-internal.yml
  vufind/startup-cron.sh
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Escape dollar signs for CI
  .gitlab-ci.yml
Due: none

Try without escaping $
  .gitlab-ci.yml
  vufind/startup-cron.sh
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Remove conflicting/non-working health check from internal
  docker-compose.traefik-internal.yml
  docker-compose.traefik-public.yml
Due: none

harvest: Cron logs (to a file for now); harvest direct into S3
  docker-compose.yml
  vufind/Dockerfile
  vufind/startup-cron.sh
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

harvest: wrong path in CI
  vufind/Dockerfile
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

ci: change rules for builds
  templates/Build.gitlab-ci.yml
Due: none

ci: add ci files to trigger builds and deploys
  .gitlab-ci.yml
  templates/Build.gitlab-ci.yml
Due: none

ci: always deploy public traefik if we're deploying an environment
  .gitlab-ci.yml
Due: none

ci: unique traefik labels
  .gitlab-ci.yml
  docker-compose.mariadb-bootstrap.yml
  docker-compose.mariadb-galera1.yml
  docker-compose.mariadb-galera2.yml
  docker-compose.mariadb-galera3.yml
  docs/CICD.md
  templates/Build.gitlab-ci.yml
Due: Deploy DB

ci: fix typo in compose file name
  .gitlab-ci.yml
Due: none

fix single quote mistake
  templates/Build.gitlab-ci.yml
Due: none

Add some doc TODOs; fix level of deploy label
  .gitlab-ci.yml
  docs/CICD.md
  docs/index.md
Due: none

Make all unique traefik labels and attempt to share middleware
  .gitlab-ci.yml
  docker-compose.traefik-public.yml
  docker-compose.yml
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Add steps to install dependencies
  .gitlab-ci.yml
Due: none

Correct package name
  .gitlab-ci.yml
Due: none

harvest: Update harvest wrapper with --limit flag
  vufind/harvest-and-import.sh
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Changes to hopefully fix traefik with multiple instances; working terraform stack for dns (not in ci yet)
  .gitignore
  .gitlab-ci.yml
  dns-terraform/env/prod/main.tf
  dns-terraform/module/dns/main.tf
  dns-terraform/module/dns/outputs.tf
  dns-terraform/module/dns/variables.tf
  docker-compose.traefik-public.yml
Due: none

Fix syntax issue
  .gitlab-ci.yml
Due: none

Fix bash syntax on if-statement
  .gitlab-ci.yml
Due: none

harvest: Fix perms on cronfile for harvest; put env var in /etc/environment
  vufind/Dockerfile
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Add .aws to default rule domain
  .gitlab-ci.yml
  docker-compose.traefik-public.yml
Due: none

Fix for double quote in label
  .gitlab-ci.yml
  docker-compose.traefik-public.yml
Due: none

Fix warning about missing port; give traefik more time to create network
  .gitlab-ci.yml
  docker-compose.traefik-public.yml
Due: none

Added playbook into CI/CD for DNS adding and removal
  .gitlab-ci.yml
  ansible/Dockerfile
  docs/CICD.md
  provision-dns-playbook/decommission.yml
  provision-dns-playbook/provision.yml
  provision-dns-playbook/roles/provision/tasks/main.yml
  provision-dns-playbook/roles/remove/tasks/main.yml
  provision-dns-playbook/variables.yml
  templates/Build.gitlab-ci.yml
Due: none

Correct ansible job name
  .gitlab-ci.yml
Due: none

Remove dependency
  .gitlab-ci.yml
Due: none

Change to dependencies for main vs non-main
  .gitlab-ci.yml
Due: none

Fix path to playbook
  .gitlab-ci.yml
Due: none
