Repository MSU-Libraries/catalog: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Path conditions:
  Build Vufind Image: any of: vufind/*, docker-compose.yml, docker-compose.solr*, solr/*, zk/*
  Scan Vufind Image: any of: vufind/*, docker-compose.yml, docker-compose.solr*, solr/*, zk/*
  Deploy Solr: any of: docker-compose.solr*, solr/*, docker-compose.yml, vufind/*, zk/*, .gitlab-ci.yml, templates/*
  Deploy DB: any of: docker-compose.mariadb*, docker-compose.yml, vufind/*, docker-compose.solr*, solr/*, zk/*, .gitlab-ci.yml, templates/*
  Deploy Vufind: any of: docker-compose.yml, vufind/*, docker-compose.solr*, solr/*, zk/*, .gitlab-ci.yml, templates/*

Debug terraform playbook
  .gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

Fix the debug message
  .gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

Trying relative dir to home for aws creds
  provision-dns-playbook/roles/provision/tasks/main.yml
Due: none

Verifying home directory for aws creds
  .gitlab-ci.yml
  provision-dns-playbook/roles/provision/tasks/main.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

Add hosts file
  provision-dns-playbook/hosts
Due: none

Add provider to module, setting the region
  .gitlab-ci.yml
  dns-terraform/env/prod/main.tf
  dns-terraform/module/dns/main.tf
  dns-terraform/module/dns/variables.tf
Due: Deploy Solr, Deploy DB, Deploy Vufind

Adding import data to pipeline
  .gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

import: Added mnt/shared vol for importing on devel/review envs
  docker-compose.yml
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Add sleep before import
  .gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

Added flag to harvest and import script to clear solr index, and added that to CI
  .gitlab-ci.yml
  vufind/harvest-and-import.sh
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Updated docs to include description of pipeline stages
  docs/CICD.md
Due: none

harvest: archive last_harvest.txt file and remove for full harvests
  vufind/harvest-and-import.sh
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

harvest: archive fix as we're unable to append tar
  vufind/harvest-and-import.sh
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Fix the CI for cleaning up environments; Added some framework for technical documentation
  .gitlab-ci.yml
  docs/first-time-setup.md
  docs/index.md
  docs/tech-overview.md
  mkdocs.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

docs: filled in technical overview
  docs/tech-overview.md
Due: none

Increase RAM max for Solr
  docker-compose.solr-cloud-bootstrap.yml
  docker-compose.solr-cloud.yml
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Increased Solr RAM max to 4G
  docker-compose.solr-cloud-bootstrap.yml
  docker-compose.solr-cloud.yml
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

harvest: more messaging on removing combined xml
  docker-compose.yml
  vufind/harvest-and-import.sh
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

harvest: refactor harvest archiving
  vufind/harvest-and-import.sh
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

harvest: More logs on archiving
  vufind/harvest-and-import.sh
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

harvest: --full flag will actually reset last_harvest now
  vufind/harvest-and-import.sh
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

solr: attempt to expose /solr web interface
  docker-compose.solr-cloud-bootstrap.yml
  docker-compose.solr-cloud.yml
  docker-compose.traefik-public.yml
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

solr: fix bad docker-compose yml
  docker-compose.solr-cloud-bootstrap.yml
  docker-compose.solr-cloud.yml
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

solr: place on public traefik network for /solr access
  docker-compose.solr-cloud-bootstrap.yml
  docker-compose.solr-cloud.yml
  docker-compose.traefik-public.yml
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

debug: increase traefik public debug logging
  docker-compose.traefik-public.yml
Due: none

ci: vufind image build on every commit
  .gitlab-ci.yml
  templates/Build.gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

traefik: fix cmd flag (templating must be inside flag value)
  docker-compose.traefik-public.yml
Due: none

traefik: add dashboard and basicauth
  .gitlab-ci.yml
  docker-compose.traefik-public.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

ci: double $$
  .gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

ci: no mask for basicauth hash
  .gitlab-ci.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

traefik: remove fancy solr routing attempt
  docker-compose.solr-cloud-bootstrap.yml
  docker-compose.solr-cloud.yml
  docker-compose.traefik-public.yml
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

solr: fix compose file structure
  docker-compose.solr-cloud-bootstrap.yml
  docker-compose.solr-cloud.yml
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Alphabetical browsing
  solr/Dockerfile
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

ci: fix blank line in traefik public from yq bug
  .gitlab-ci.yml
  docker-compose.traefik-public.yml
Due: Deploy Solr, Deploy DB, Deploy Vufind

alphabetical browsing
  solr/Dockerfile
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

alphabetical browsing: fixed sed
  solr/Dockerfile
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

alphabetical browsing reorg
  solr/Dockerfile
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

alphabetic browsing: fix
  solr/Dockerfile
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

alphabetical browsing: custom jar to get the right core name
  solr/Dockerfile
  solr/browse-handler.jar
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind

Alphabetical browsing
  solr/Dockerfile
  solr/browse-handler.jar
Due: Build Vufind Image, Scan Vufind Image, Deploy Solr, Deploy DB, Deploy Vufind
